@import "./scss/reset";
@import "./scss/variables";

.layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
  grid-template-rows: 50px 1fr 50px;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
header,
footer {
  background-color: #2a5ea5;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
